In [1]:
import sklearn as sk
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn import preprocessing

# Reading .csv

In [2]:
data=pd.read_csv('./train.csv')
#data

In [3]:
#data_train=data[0:600]
#data_test=data[600:]

In [4]:
#data_train

In [5]:
#data_test

In [6]:
#data.columns

# string -> int encoding

In [7]:
data_dropped=data.drop(['PassengerId' ,'Name', 'Ticket',  'Cabin'],axis=1)
data_dropped.loc[data_dropped.Sex=='male','Sex']=1
data_dropped.loc[data_dropped.Sex=='female','Sex']=0
data_dropped.loc[data_dropped.Embarked=='S','Embarked']=0
data_dropped.loc[data_dropped.Embarked=='Q','Embarked']=1
data_dropped.loc[data_dropped.Embarked=='C','Embarked']=2




#data_dropped

In [8]:
data_dropped

     Survived  Pclass Sex   Age  SibSp  Parch     Fare Embarked
0           0       3   1  22.0      1      0   7.2500        0
1           1       1   0  38.0      1      0  71.2833        2
2           1       3   0  26.0      0      0   7.9250        0
3           1       1   0  35.0      1      0  53.1000        0
4           0       3   1  35.0      0      0   8.0500        0
..        ...     ...  ..   ...    ...    ...      ...      ...
886         0       2   1  27.0      0      0  13.0000        0
887         1       1   0  19.0      0      0  30.0000        0
888         0       3   0   NaN      1      2  23.4500        0
889         1       1   1  26.0      0      0  30.0000        2
890         0       3   1  32.0      0      0   7.7500        1

[891 rows x 8 columns]

In [9]:
dt_drop=data_dropped

In [10]:
dt_train=dt_drop[:600]
dt_test=dt_drop[600:]

In [11]:
#dt_procd_train

In [12]:
#dt_procd_test

In [13]:
#dt_train=dt_procd_train.dropna(axis=0)

In [14]:
#dt_train

In [15]:
#dt_test=dt_procd_test.dropna(axis=0)

In [16]:
#dt_test

In [17]:
dt_train=dt_train.dropna(axis=0)
dt_test=dt_test.dropna(axis=0)

In [18]:

Y_train=dt_train.loc[:,['Survived']]
X_train=dt_train.loc[:,['Pclass','Sex','Age','SibSp','Parch','Fare','Embarked']]
X_test=dt_test.loc[:,['Pclass','Sex','Age','SibSp','Parch','Fare','Embarked']]
Y_test=dt_test.loc[:,['Survived']]

In [19]:

df=X_train
x = df.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df = pd.DataFrame(data=x_scaled,columns=['Pclass','Sex','Age','SibSp','Parch','Fare','Embarked'])
X_train=df

In [20]:
df=X_test
x = df.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df = pd.DataFrame(data=x_scaled,columns=['Pclass','Sex','Age','SibSp','Parch','Fare','Embarked'])
X_test=df

In [21]:
X_train

     Pclass  Sex       Age  SibSp  Parch      Fare  Embarked
0       1.0  1.0  0.302491    0.2    0.0  0.014151       0.0
1       0.0  0.0  0.530249    0.2    0.0  0.139136       1.0
2       1.0  0.0  0.359431    0.0    0.0  0.015469       0.0
3       0.0  0.0  0.487544    0.2    0.0  0.103644       0.0
4       1.0  1.0  0.487544    0.0    0.0  0.015713       0.0
..      ...  ...       ...    ...    ...       ...       ...
468     1.0  1.0  0.658363    0.0    0.0  0.014151       0.0
469     0.5  1.0  0.516014    0.2    0.0  0.050749       0.0
470     1.0  1.0  0.501779    0.2    0.2  0.047138       0.0
471     1.0  1.0  0.686833    0.0    0.0  0.000000       0.0
472     0.0  1.0  0.686833    0.2    0.0  0.111118       1.0

[473 rows x 7 columns]

In [22]:
Y_train

     Survived
0           0
1           1
2           1
3           1
4           0
..        ...
592         0
594         0
595         0
597         0
599         1

[473 rows x 1 columns]

In [23]:
X_test

     Pclass  Sex       Age  SibSp     Parch      Fare  Embarked
0       0.5  0.0  0.296306    0.4  0.166667  0.052700       0.0
1       1.0  1.0  0.547625    0.0  0.000000  0.015713       0.0
2       0.0  1.0  0.434531    0.0  0.000000  0.051822       1.0
3       1.0  1.0  0.447097    0.2  0.000000  0.030352       0.0
4       1.0  1.0  0.371701    0.0  0.000000  0.015412       0.0
..      ...  ...       ...    ...       ...       ...       ...
234     1.0  0.0  0.484795    0.0  0.833333  0.056848       0.5
235     0.5  1.0  0.334004    0.0  0.000000  0.025374       0.0
236     0.0  0.0  0.233476    0.0  0.000000  0.058556       0.0
237     0.0  1.0  0.321438    0.0  0.000000  0.058556       1.0
238     1.0  1.0  0.396833    0.0  0.000000  0.015127       0.5

[239 rows x 7 columns]

In [25]:
Y_test

     Survived
600         1
603         0
604         1
605         0
606         0
..        ...
885         0
886         0
887         1
889         1
890         0

[239 rows x 1 columns]

# RESULT

In [26]:
for numOfNeighbors in range(2,6):
    print('K: ',numOfNeighbors)
 
    knn=sk.neighbors.KNeighborsClassifier(n_neighbors = numOfNeighbors)
    knn.fit(X_train,Y_train.values.ravel())
    Y_pred=knn.predict(X_test)
    #print(Y_pred)
    #print(Y_test.values.ravel())
    ret=sk.metrics.accuracy_score(Y_test.values.ravel(),Y_pred)
    F1=sk.metrics.f1_score(Y_test.values.ravel(),Y_pred)
    print('Accuracy: ', ret,'\nF1score: ',F1)

K:  2
Accuracy:  0.7907949790794979
F1score:  0.6710526315789475
K:  3
Accuracy:  0.7740585774058577
F1score:  0.696629213483146
K:  4
Accuracy:  0.7907949790794979
F1score:  0.6913580246913581
K:  5
Accuracy:  0.7907949790794979
F1score:  0.7159090909090909