In [1]:
import sklearn as sk
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
import matplotlib.pyplot as plt

# Reading .csv

In [2]:
data=pd.read_csv('./train.csv')
#data

# string -> int encoding

In [3]:
data_dropped=data.drop(['PassengerId' ,'Name', 'Ticket',  'Cabin'],axis=1)
data_dropped.loc[data_dropped.Sex=='male','Sex']=1
data_dropped.loc[data_dropped.Sex=='female','Sex']=0
data_dropped.loc[data_dropped.Embarked=='S','Embarked']=0
data_dropped.loc[data_dropped.Embarked=='Q','Embarked']=1
data_dropped.loc[data_dropped.Embarked=='C','Embarked']=2




data_dropped

     Survived  Pclass Sex   Age  SibSp  Parch     Fare Embarked
0           0       3   1  22.0      1      0   7.2500        0
1           1       1   0  38.0      1      0  71.2833        2
2           1       3   0  26.0      0      0   7.9250        0
3           1       1   0  35.0      1      0  53.1000        0
4           0       3   1  35.0      0      0   8.0500        0
..        ...     ...  ..   ...    ...    ...      ...      ...
886         0       2   1  27.0      0      0  13.0000        0
887         1       1   0  19.0      0      0  30.0000        0
888         0       3   0   NaN      1      2  23.4500        0
889         1       1   1  26.0      0      0  30.0000        2
890         0       3   1  32.0      0      0   7.7500        1

[891 rows x 8 columns]

# split data into train and test

In [4]:
dt_drop=data_dropped
dt_train=dt_drop[:600]
dt_test=dt_drop[600:]

# Remove nan row

In [5]:
dt_train=dt_train.dropna(axis=0)
dt_test=dt_test.dropna(axis=0)

# Split X,Y

In [6]:
X_train=dt_train.loc[:,['Pclass','Sex','Age','SibSp','Parch','Fare','Embarked']]
Y_train=dt_train.loc[:,['Survived']]

X_test=dt_test.loc[:,['Pclass','Sex','Age','SibSp','Parch','Fare','Embarked']]
Y_test=dt_test.loc[:,['Survived']]

# Data Normalization Z-score normalization

In [7]:
_max=X_train.loc[:,['Fare']].max()

_min=X_train.loc[:,['Fare']].min()
m=_max-_min


#Z score normalization
for col in X_train.columns:
    _std=X_train.loc[:,[col]].std()
    _mean=X_train.loc[:,[col]].mean()
    
    X_train.loc[:,[col]]=(X_train.loc[:,[col]]-_mean)/_std
    #X_train.loc[:,['Age']]/=50
    X_test.loc[:,[col]]=(X_test.loc[:,[col]]-_mean)/_std
    #X_test.loc[:,['Age']]/=50

In [8]:
X_train

       Pclass       Sex       Age     SibSp     Parch      Fare  Embarked
0    0.917740  0.779459 -0.533861  0.479799 -0.523786 -0.554474 -0.522135
1   -1.467375 -1.280229  0.566128  0.479799 -0.523786  0.764109  2.037139
2    0.917740 -1.280229 -0.258864 -0.561232 -0.523786 -0.540575 -0.522135
3   -1.467375 -1.280229  0.359880  0.479799 -0.523786  0.389676 -0.522135
4    0.917740  0.779459  0.359880 -0.561232 -0.523786 -0.538001 -0.522135
..        ...       ...       ...       ...       ...       ...       ...
592  0.917740  0.779459  1.184871 -0.561232 -0.523786 -0.554474 -0.522135
594 -0.274818  0.779459  0.497378  0.479799 -0.523786 -0.168371 -0.522135
595  0.917740  0.779459  0.428629  0.479799  0.690678 -0.206467 -0.522135
597  0.917740  0.779459  1.322370 -0.561232 -0.523786 -0.703767 -0.522135
599 -1.467375  0.779459  1.322370  0.479799 -0.523786  0.468527  2.037139

[473 rows x 7 columns]

In [9]:
Y_train

     Survived
0           0
1           1
2           1
3           1
4           0
..        ...
592         0
594         0
595         0
597         0
599         1

[473 rows x 1 columns]

# RESULT

In [10]:
for numOfNeighbors in range(2,6):
    print('K: ',numOfNeighbors)
 
    knn=sk.neighbors.KNeighborsClassifier(n_neighbors = numOfNeighbors)
    knn.fit(X_train,Y_train.values.ravel())
    Y_pred=knn.predict(X_test)
    #print(Y_pred)
    #print(Y_test.values.ravel())
    ret=sk.metrics.accuracy_score(Y_test.values.ravel(),Y_pred)
    F1=sk.metrics.f1_score(Y_test.values.ravel(),Y_pred)
    print('Accuracy: ', ret,'\nF1score: ',F1)

K:  2
Accuracy:  0.7907949790794979
F1score:  0.6794871794871795
K:  3
Accuracy:  0.7824267782426778
F1score:  0.7111111111111111
K:  4
Accuracy:  0.799163179916318
F1score:  0.7073170731707317
K:  5
Accuracy:  0.8117154811715481
F1score:  0.7513812154696133